.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 5px;
    justify-content: center;
}
.item {
    border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2;
}
.item img {
    max-width: 100%;
}
.level-one {
    grid-row-end: span 3;
}
.level-two {
    grid-row-end: span 2;
}
.level-three {
    grid-row-end: span 1;
}