* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}
/* Header styles */
.header {
    display: grid;
    height: 50px;
    border-bottom: 1px solid gray;
    grid-template-columns: repeat(3, minmax(100px, 300px));
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.header-search {
    width: 200px;
    height: 30px;
    justify-self: center;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    text-align: center;
}
.main {
    background-color: #fafafa;
    padding-top: 30px;
}
/* Main profile info styles */
.main-propile {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
}
.main-profile-photo {
    justify-self: center;
    border-radius: 50%;
}
.main-profile-photo img {
    border-radius: 50%;
}
.main-profile-name {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3rem;
    font-weight: 300;
}

/* Post Styles */
.post-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 300px));
    justify-content: center;
    gap: 30px;
}
.post {
    display: block;
    cursor: pointer;
    position: relative;
}
.post-image img {
    width: 100%;
    vertical-align: top;
}
.post-overlay {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.post:hover .post-overlay {
    display: flex;
}
.post-likes, 
.post-comments {
    display: inline-block;
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .post-list {
        gap: 3px;
    }
}